    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">

      <div class="row-fluid">
        <div class="span3">
          <p>
            <%=
                if document["path_to_image_ssm"].first.to_s.strip.length != 0
                  image_tag ("http://www.kb.dk/imageService/w200/"+document["path_to_image_ssm"].first.to_s.sub('.tif', ".jpg"))
                end
            %>
          </p>
        </div>
        <div class="span9 pull-right" style="text-align:right">
          <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>
          <% # main container for doc partial view -%>
          <% # render_document_partial document, :index %>


          <dl class="dl-horizontal dl-invert">


                <dt><!--Resultat:--></dt>
                <dd><%= t('blacklight.search.documents.counter', :counter => (document_counter + 1 + @response.params[:start].to_i)) %></dd>

            <% if document["author_ssm"] %>
                <dt class="">Forfatter:</dt>
                <dd class=""><%= document["author_ssm"].first.html_safe rescue nil %></dd>
            <% end %>

            <% if document["imagetype_tesim"] %>
                <dt class="">Type:</dt>
                <dd class=""><%= document["imagetype_tesim"].first.html_safe rescue nil %></dd>
            <% end %>

            <% if document["category_ssm"] %>
                <dt class="">Kategori:</dt>
                <dd class=""><%= document["category_ssm"].first.html_safe rescue nil %></dd>
            <% end %>

            <% if document["genre_ssm"] %>
                <dt class="">Genre:</dt>
                <dd class=""><%= document["genre_ssm"].first.html_safe rescue nil %></dd>
            <% end %>


            <% if document["local_ssm"] %>
                <dt class="">Område:</dt>
                <dd class=""><%= document["local_ssm"].first.html_safe rescue nil %></dd>
            <% end %>


          </dl>


        </div>
      </div>



    </div>
