<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t 'helpers.titles.edit_rights', :default => [:'helpers.titles.edit', 'Edit rights for %{model}'], :model => model_class.model_name.human %></h1>
</div>

<%= form_for @image, :html=>{:multipart=>true}, url: {action: 'update_rights'} do |f| %>
  <%- @object = @image-%>
  <%= f.error_messages :header_message => "Edit rights error", :class => "alert alert-error", :header_tag => :h3 %>
  <%= fields_for :rights do |builder| %>
    <%= render 'shared/rights_admin', :f => builder %>
  <% end %>
  <%= fields_for :embargo do |builder| %>
    <%= render 'shared/rights_admin_embargo', :f => builder %>
  <% end %>
  <br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>


<div class="form-actions">
  <%= link_to t('.show', :default => t('helpers.titles.show')),
                                       @image, :class => 'btn' %>
  <%= link_to t('.back', :default => t('helpers.links.back')),
              images_path, :class => 'btn'  %>
  <%- if can?(:edit, @image) %>
      <%= link_to t('.edit', :default => t('helpers.titles.edit')),
                  edit_image_path(@image), :class => 'btn' %>
  <%- end %>
</div>

