<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://mapstraction.com/mxn/build/latest/mxn.js?(openlayers)" type="text/javascript"></script>
<style type="text/css">
    #map {
        height: 400px;
        width: 850px;
    }
</style>
<script>
    $('#historik').click(function() {
        $('#vishistorikken').toggle('slow', function() {
            // Animation complete.
        });
    });


    jQuery(document).ready(function() {

        var map = new mxn.Mapstraction('map', 'openlayers');


        //var lat = <%= defined?(true) ? @image.geo_lat : 55.673457 %>
        var lat = <%= @image.geo_lat  || 55.673457 %>  ;
        //var lon = <%= defined?(true) ? @image.geo_lng : 12.58272 %>
        var lon = <%= @image.geo_lng  || 12.58272 %>  ;
        //55.673457,12.58272
        var text = '<%= @image.title   %>';


        marker = new mxn.Marker(new mxn.LatLonPoint(lat, lon));
        marker.addData({infoBubble : text, label : "Label", draggable : true,  marker : 4, icon: "https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/256/Map-Marker-Marker-Outside-Pink.png"});
       // marker.setDraggable('TRUE');
        map.addMarker(marker);
        var latlon = new mxn.LatLonPoint(lat, lon);

        map.setCenterAndZoom(latlon, 6);

        console.log("action DR - Lat: " + lat + " lng: " + lon);
    });
</script>
<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @image.title %></dd>

  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= @image.author %></dd>


  <dt><strong><%= model_class.human_attribute_name(:local) %>:</strong></dt>
  <dd><%= @image.local %></dd>
  <dt><strong><%= model_class.human_attribute_name(:geo_lat) %>:</strong></dt>
  <dd><%= @image.geo_lat %></dd>
  <dt><strong><%= model_class.human_attribute_name(:geo_lng) %>:</strong></dt>
  <dd><%= @image.geo_lng %></dd>
  <dt><strong><%= model_class.human_attribute_name(:person) %>:</strong></dt>

  <dd>
    <% if @image.person.kind_of?(Array) %>
        <% @image.person.each do |per| %>

            <p class="label label-success"><%= per %></p>

        <% end %>
    <% else %>
        <%= @image.person %>

    <% end %>
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:fileidentifier) %>:</strong></dt>
  <dd><%= @image.fileidentifier %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>

  <dd>
    <% if @image.category.kind_of?(Array) %>
        <% @image.category.each do |cat| %>

            <p class="label label-info"><%= cat %></p>

        <% end %>
    <% else %>
        <%= @image.category %>

    <% end %>
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>

  <dd>
    <% if @image.keywords.kind_of?(Array) %>
        <% @image.keywords.each do |keyword| %>

            <p class="label label-info"><%= keyword %></p>

        <% end %>
    <% else %>
        <%= @image.keywords %>

    <% end %>
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:date_start) %>:</strong></dt>
  <dd><%= @image.date_start %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_txt) %>:</strong></dt>
  <dd><%= @image.date_txt %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @image.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:path_to_image) %>:</strong></dt>
  <dd><%= if @image.path_to_image.to_s.strip.length != 0
            image_tag ("http://www.kb.dk/imageService/w850/"+@image.path_to_image.sub('.tif', ".jpg"))
          end
      %></dd>

  <dt><strong><%= model_class.human_attribute_name(:license_title) %>:</strong></dt>
  <% if @image.license_title %>
      <dd><%= @image.license_title %></dd>
  <% else %>
      <dd>ingen licens defineret&nbsp;</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:license_url) %>:</strong></dt>
  <% if @image.license_url %>
      <dd><%= @image.license_url %></dd>
  <% else %>
      <dd>ingen licens defineret&nbsp;</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:license_description) %>:</strong></dt>
  <% if @image.license_description %>
      <dd><%= raw @image.license_description.html_safe %></dd>
  <% else %>
      <dd>ingen licens defineret&nbsp;</dd>
  <% end %>

  <dt>Geo</dt>
  <dd> <div id="map"></div></dd>
</dl>

  <h3 id="historik">Historik og Tidligere versioner</h3>
  <div id="vishistorikken">
    <dl class="dl-horizontal">
  <dt><strong>Versioner:</strong></dt>
  <dd><%= @image.descMetadata.versions.size %></dd>

  <dt><strong>Nuværende version:</strong></dt>
  <dd><%= @image.descMetadata.versionID %></dd>

  <dt><strong>Sidst rettet:</strong></dt>
  <dd><%= @image.descMetadata.dsCreateDate %></dd>
</dl>

  <% @image.descMetadata.versions.each do |image| %>
      <h4><%= image.title.first %> - <%= image.asOfDateTime_was %></h4>

      <div class="hero-unit">
        <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
        <dd><%= image.title.first %></dd>

        <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
        <dd><%= image.author.first %></dd>


        <dt><strong><%= model_class.human_attribute_name(:local) %>:</strong></dt>
        <dd><%=  image.local %></dd>
        <dt><strong><%= model_class.human_attribute_name(:fileidentifier) %>:</strong></dt>
        <dd><%= image.fileidentifier.first %></dd>

        <dt><strong><%= model_class.human_attribute_name(:person) %>:</strong></dt>

        <dd>
          <% image.person.each do |per| %>

              <!--p class="label label-info">    </p-->
              <p><%= per %></p>

          <% end %>
        </dd>

        <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>

        <dd>
        <% image.category.each do |cat| %>

              <!--p class="label label-info">    </p-->
               <p><%= cat %></p>

        <% end %>
        </dd>


        <dt><strong><%= model_class.human_attribute_name(:keywords) %>:</strong></dt>

        <dd>
          <% image.keywords.each do |keyword| %>

              <!--p class="label label-info">    </p-->
              <p><%= keyword %></p>

          <% end %>
        </dd>
        <dt><strong><%= model_class.human_attribute_name(:date_start) %>:</strong></dt>
        <dd><%= image.date_start.first %></dd>

        <dt><strong><%= model_class.human_attribute_name(:date_end) %>:</strong></dt>
        <dd><%= image.date_end.first %></dd>


        <dt><strong><%= model_class.human_attribute_name(:date_txt) %>:</strong></dt>
        <dd><%= image.date_txt.first %></dd>

        <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
        <dd><%= image.description.first %></dd>

        <dt><strong><%= model_class.human_attribute_name(:opstilling) %>:</strong></dt>
        <dd><%= image.opstilling.first %></dd>

        <dt>Geo</dt>
        <dd></dd>
        <dt><strong><%= model_class.human_attribute_name(:lcsh) %>:</strong></dt>
        <dd><small><a href="http://id.loc.gov/authorities/subjects/<%= image.lcsh.first %>">http://id.loc.gov/authorities/subjects/<%= image.lcsh.first %></a></small></dd>
  </div>



  <% end %>


</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t('helpers.links.back')),
              images_path, :class => 'btn'  %>
  <%- if can?(:edit, @image) %>
    <%= link_to t('.edit', :default => t('helpers.links.edit')),
                edit_image_path(@image), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t('helpers.links.destroy')),
                image_path(@image),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t('helpers.links.confirm', :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <%- end%>
</div>
